@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
@import "./mobile.scss";
@import "./portfolio.scss";

$work-sans: "Open Sans", sans-serif;
$button-color: #49c65d;
$white-color: #f5f5f5;
$main-content-width: 768px;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: $white-color;
  font-family: $work-sans;
}

header {
  position: sticky;
  top: 0;
  height: 3em;
  background: #24292e;
  display: flex; 
  align-items: center; 
  .header-container {
    width: $main-content-width;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    .logo img {
      height: 80%;
      width: 40%;
    }

    nav {
      a,
      .nav-burger {
        text-decoration: none;
        padding: 0 1em 0;
        color: $white-color;
      }
 
      a:hover {
        color: $button-color;
      }
    }
  }
}



.hero {
  background-image: url("../assets/hero-bg-s.jpg");
  background-size: cover;
  height: 200px;
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
  line-height: 0.1em;
  h1,
  h2 {
    text-transform: capitalize;
    color: $white-color;
  }
}

.container {
  width: $main-content-width;
  margin: auto;
  display: flex;
}

.left-content {
  padding-top: 3em;
  width: 50%;
  .callout {
    button {
      background: $white-color;
      border: 0.5px solid $button-color;
      text-transform: uppercase;
      margin-right: 1em;
      color: $button-color;
      padding: 1em 1em;
    }

    button:hover {
      color: $white-color;
      background: $button-color;
    }
  }
  .social-link {
    padding-top: 1em;

    a img {
      height: 30px;
      width: 30px;
    }
  }
}

.right-content {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  img {
    height: 100%;
    width: 80%;
  }
} 