@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lato|Montserrat|Open+Sans|Roboto&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lato|Montserrat|Open+Sans|Roboto&display=swap");
@media only screen and (max-width: 767px) {
  header {
    height: 4em !important;
  }
  header .header-container .logo {
    z-index: 2;
    padding-left: 1em;
  }
  header .header-container .logo img {
    height: 90% !important;
    width: 60% !important;
  }
  header .header-container nav {
    font-size: 2em;
  }
  header .header-container nav .nav-items {
    display: none;
  }
  header .header-container nav .nav-burger {
    color: #fff;
    display: block;
  }
  header .header-container nav .nav-burger:hover {
    color: #49c65d;
  }
  header .header-container nav .nav-items-responsive {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    position: absolute;
    width: 100%;
    left: 0;
    background-color: #24292e;
    z-index: 1;
  }
  .container {
    width: 80% !important;
  }
}

@media only screen and (min-width: 768px) {
  header .header-container nav > .nav-burger {
    display: none;
  }
}

.portfolio-hero {
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skew-cw {
  height: 4em;
  background: -webkit-gradient(linear, right top, left bottom, color-stop(49%, #f5f5f5), color-stop(50%, #dbdbdb));
  background: linear-gradient(to left bottom, #f5f5f5 49%, #dbdbdb 50%);
}

.skew-ccw {
  height: 4em;
  background: -webkit-gradient(linear, left top, right bottom, color-stop(49%, #dbdbdb), color-stop(50%, #f5f5f5));
  background: linear-gradient(to right bottom, #dbdbdb 49%, #f5f5f5 50%);
}

.project-container-bg-colored {
  background: #dbdbdb;
  height: 300px;
}

.project-container-bg-colored .project-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  margin: auto;
}

.project-container-bg-colored .project-content .project-content-left-img {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2em 2em;
}

.project-container-bg-colored .project-content .project-content-left-img .project1-img {
  height: 200px;
  width: 200px;
}

.project-container-bg-colored .project-content .project-content-right-p {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.project-container-bg-clear {
  height: 300px;
  background: inherit;
}

.project-container-bg-clear .project-content {
  width: 80%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.project-container-bg-clear .project-content .project-content-left-p {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.project-container-bg-clear .project-content .project-content-right-img {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2em 2em;
}

.project-container-bg-clear .project-content .project-content-right-img img {
  height: 200px;
  width: 200px;
}

.resume-hero {
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.resume-hero .resume-circular-image {
  background: #e6e3ed;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
}

.resume-hero .resume-circular-image img {
  width: 100%;
  height: 100%;
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.info .info-left {
  width: 25%;
}

.info .info-right {
  width: 75%;
}

.info .info-right .info-head {
  font-size: 1em;
  font-weight: 700;
}

.task-list p {
  display: list-item;
  list-style-position: inside;
}

body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #f5f5f5;
  font-family: "Montserrat", sans-serif;
}

p {
  text-align: justify;
}

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 3em;
  background: #24292e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header-container {
  width: 768px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header-container .logo img {
  height: 80%;
  width: 40%;
}

header .header-container nav a,
header .header-container nav .nav-burger {
  text-decoration: none;
  padding: 0 1em 0;
  color: #f5f5f5;
}

header .header-container nav a:hover {
  color: #49c65d;
}

.hero {
  background: url("../assets/bg-4.jpg") no-repeat center fixed;
  background-size: cover;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 0.1em;
}

.hero h1,
.hero h2 {
  text-transform: capitalize;
  color: #f5f5f5;
}

.hero h1 {
  font-family: "Lato", sans-serif;
  font-size: 4rem;
  font-weight: bolder;
}

.container {
  width: 768px;
  margin: auto;
}

.main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.left-content {
  padding-top: 3em;
  width: 50%;
}

.left-content .callout button {
  background: #f5f5f5;
  border: 0.5px solid #49c65d;
  text-transform: uppercase;
  margin-right: 1em;
  color: #49c65d;
  padding: 1em 1em;
}

.left-content .callout button:hover {
  color: #f5f5f5;
  background: #49c65d;
}

.left-content .social-link {
  padding-top: 1em;
}

.left-content .social-link a img {
  height: 30px;
  width: 30px;
}

.right-content {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.right-content img {
  height: 100%;
  width: 80%;
}
/*# sourceMappingURL=main.css.map */